*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #c4c4c4;
    font-family: 'Times New Roman', Times, serif;
}

header, .navbar{
    background: rgb(135,12,12);
   background: linear-gradient(90deg, rgba(135,12,12,1) 23.1%, rgba(92,91,91,1) 23.1%, rgba(92,91,91,1) 100%);

   /* background-color: #5C5B5B; */
   height: 70px;
}

.funcoes_add{
    background: rgb(135, 12, 1);
    height: 900px;
    padding:10px;   
    width: 440px;
}

#buttons{
    width: 10vw;
    margin: auto;
    margin-top: 100px;

}


.btn_func{
    background:#c4c4c4;
    color:black;
    border: solid 1px rgb(255, 255, 255);
    padding:3px;
    margin-top: 30px;
    font-size: 15px;
    display:block;
    width: 190px;
    border-radius: 6px;
    font-weight: 600;
}

.btn_func:hover{
    transition: 0.5s;
    background-color: transparent;
}

.titulo_tab{
    margin-top: 50px;
    text-align: center;
    
} 

.h2class{
margin: auto;
color: #ffffff;
}

.col-md-4{
    padding: 0;
    margin: 0;
}

img{
    width: 400px;
    padding-left: 10px;
    margin: auto;
}



#nomes input[type="text"]{
    margin-top: 10px;
}

#alunos, input[type="number"]{
    width: 120px;
}

#qtd_alunos{
    width: 190px;
    margin-top: 10px;
}

#qtd_notas{
    width: 190px;
    margin-top: 10px;
}

#notas input[type="number"]{
    margin-top: 10px;
}

#guarda_notas{
    text-align: center;
}

#situacoes, p{
    margin-top: 12px;
}

.situacao{
text-align: center;
margin-top: 10px;
}

.res_media_geral{
    color: white;
}

/* #sistemas_notas #situacoes{
    font-size:18px;
}
.funcoes_add{
    margin-top:20px;
}
.funcoes_add input[type='button']{
    padding:5px;
    font-size:18px;
    border-radius:15px;
    border:2px solid #653FA2;
}
.funcoes_add input[type='button']:hover{
    background:#653FA2;
    color:white;
    transition:.7s;
}
input[type='text'], input[type='number']{
    margin-top:10px;
    padding:5px;
    border:1px solid purple;
    border-radius:10px;
} */